<div class="media mt-5 mb-5">
  <img [src]="item.owner.avatar_url" class="avatar align-self-center mr-3">
  <div class="media-body">
    <a [href]="item.html_url" target="_blank">
      <h5 class="mt-0">{{item.name}}</h5>
    </a>
    <p>{{item.description}}</p>
    <br>
    <div class="row">
      <div class="col">
        <div class="btn btn-outline-info mr-2">Stars: {{item.stargazers_count}}</div>
        <div class="btn btn-outline-info">Issues: {{item.open_issues}}</div>
      </div>
      <div class="col col-8">
        <p>Submitted <strong>{{item.created_at | timeAgo}}</strong> by <strong>{{item.owner.login}}</strong></p>
      </div>
    </div>
  </div>
</div>
