<div  class="container py-5" 
infiniteScroll 
[infiniteScrollDistance]="1" 
[infiniteScrollThrottle]="500" 
(scrolled)="onScroll()" 
[scrollWindow]="true">
  <h1>Most starred Github repos created in the last 30 days <small>Relative to 2017-11-22</small></h1>
  <hr>
  <h3 class="text-center" *ngIf="items.length === 0">Loading Repositories...</h3>
  <div *ngIf="items.length !== 0">
    <app-repo *ngFor="let item of items" [item]="item"></app-repo>
    <h2 class="text-center">Loading...</h2>
  </div>
</div>